body {
  margin: 0;
  text-align: center;
}
hr{
  border-color: gray;
  border-width: 3px;
  border-style: none;
  border-top-style: double;
  width: 10%;
}

a{
  margin: 10px 20px;
  color: #00204a;
  text-decoration: none;
}

a:hover{
  color: #3bb4c1;
}

.top {
  background-color: #e0ebe8;
  position: relative;
  padding-top: 100px;
}

.top-bird {
  position: absolute;
  right: 250px;
  top: 80px;
}


.h1 {
  margin-top: 0;
  font-family: 'Montez', cursive;
  color: #00204a;
}

.for-master {
  font-family: 'Sacramento', cursive;
  font-size: 1.8rem;
}

.middle-image {
  width: 598px;
  height: 357px;
}

.bottom-bird {
  position: absolute;
  left: 100px;
  bottom: 300px;
}
.middle-container{
  margin-top: 2%;

}

.middle-container{
  width: 500px;
  margin: 100px auto 100px auto;

}
.profile{
  width: 500px;
  margin: auto;
}

.profile-1{
  width: 150px;
  background-color: gray;
  border-radius: 50%;
}
.hi{
  font-family: 'Montserrat', sans-serif;
}
.master-line{
  font-family: 'Raleway', sans-serif;
  font-size: 1.3rem;
}
.h2{
  font-family: 'Montserrat', sans-serif;
}
.skill-img{
  width: 150px;
  background-color: gray;
  border-radius: 50%;
}
.se{
  font-size: 1.1rem;
  font-family: 'Montserrat', sans-serif;
}
.skill-a{
  font-size: 1.3rem;
  font-family: 'Raleway', sans-serif;
}
.edu{
  width: 150px;
  background-color: gray;
  border-radius: 50%;
}
.edu-1{
      font-family: 'Montserrat', sans-serif;
}
.edu-2{
  font-size: 1.1rem;
  font-family: 'Montserrat', sans-serif;
}
.edu-3{
  font-size: 1.1rem;
  font-family: 'Montserrat', sans-serif;
}
.gt{
  font-family: 'Montserrat', sans-serif;
}
.gt-1{
  font-size: 1.0rem;
  font-family: 'Montserrat', sans-serif;
}
.gt-2{
  font-size: 1.1rem;
  font-family: 'Montserrat', sans-serif;
}

.for-last{
  color: #00204a;
  font-size: 0.75rem;
}


.bottom-container{
  background-color: #e0ebe8;
  margin: 30px auto auto auto;
  padding: 50px 0 20px;

}


.btn {
  background: #e0ebe8;
  background-image: -webkit-linear-gradient(top, #e0ebe8, #394c57);
  background-image: -moz-linear-gradient(top, #e0ebe8, #394c57);
  background-image: -ms-linear-gradient(top, #e0ebe8, #394c57);
  background-image: -o-linear-gradient(top, #e0ebe8, #394c57);
  background-image: linear-gradient(to bottom, #e0ebe8, #394c57);
  -webkit-border-radius: 60;
  -moz-border-radius: 60;
  border-radius: 60px;
  font-family: Courier New;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  margin: 500px auto 500px auto;
}

.btn:hover {
  background: #e0ebe8;
  background-image: -webkit-linear-gradient(top, #e0ebe8, #1d73ad);
  background-image: -moz-linear-gradient(top, #e0ebe8, #1d73ad);
  background-image: -ms-linear-gradient(top, #e0ebe8, #1d73ad);
  background-image: -o-linear-gradient(top, #e0ebe8, #1d73ad);
  background-image: linear-gradient(to bottom, #e0ebe8, #1d73ad);
  text-decoration: none;
}
